
.case
	display: inline-block
	width: 100px
	height: 100px
	background-color: lightgreen
	border: 1px solid black

.pierre
	background-color: lightgrey

.bois
	background-color: burlywood

.eau
	background-color: lightblue