<div style="width: 900px;" class="m-auto">
	<ng-container *ngIf="partie">

		<div *ngIf="!participe(); else actions">
			<pv-rejoindre-partie
				[nbJoueurs]="nbJoueurs()"
				[user]="user"
				[idPartie]="idPartie"
				[partie]="partie"
				[etatPartie]="etatPartie()">
			</pv-rejoindre-partie>
		</div>
		<ng-template #actions>
			<pv-actions-partie
				[nbJoueurs]="nbJoueurs()"
				[user]="user"
				[idPartie]="idPartie"
				[partie]="partie"
				[etatPartie]="etatPartie()"
				[infosTour]="infosTour">
			</pv-actions-partie>
		</ng-template>

		<pv-carte 
			[idPartie]="idPartie"
			[partie]="partie"
			[infosTour]="infosTour">
		</pv-carte>
		<pv-batiments 
			[idPartie]="idPartie"
			[partie]="partie"
			[infosTour]="infosTour">
		</pv-batiments>

		<div class="evenements">
			<p *ngFor="let evenement of partie.evenements">{{ evenement }}</p>
		</div>
		
		<pv-joueurs [joueurs]="partie.joueurs"></pv-joueurs>

	</ng-container>
</div>
