<ng-container [ngSwitch]="etatPartie()">
	<p *ngSwitchCase="'Finie'">
		Cette partie est terminée.
	</p>
	<p *ngSwitchCase="'En cours'">
		Cette partie est en cours.
	</p>
	<ng-container *ngSwitchDefault>
		<div *ngIf="nbJoueurs < 4; then libre else complet"></div>

		<ng-template #libre>
			<div *ngIf="user; then connu else inconnu"></div>

			<ng-template #connu>
				<p>Vous voulez jouer ? Il reste {{ 4 - nbJoueurs }} place(s)</p>
				<button (click)="rejoindre()">Rejoindre la partie</button>
			</ng-template>

			<ng-template #inconnu>
				<p>Connectez-vous pour jouer. Il reste {{ 4 - nbJoueurs }} place(s)</p>
				<button (click)="connexion()">Connexion</button>
			</ng-template>
		</ng-template>

		<ng-template #complet>
			<p>La partie est complète. Vous pouvez regarder son déroulement ou en créer une nouvelle.</p>
		</ng-template>
	</ng-container>
</ng-container>