<ng-container [ngSwitch]="etatPartie">
	<p *ngSwitchCase="'Finie'">
		Cette partie est terminée.
	</p>
	<div *ngSwitchCase="'Non commencée'">
			<!-- Si on n'est pas au moins deux -->
			<div *ngIf="nbJoueurs < 2; then attente else lancement"></div>
			<ng-template #attente>
				<p>En attente d'autres joueurs... (min 2 / max 4)</p>
			</ng-template>
			<ng-template #lancement>
				<!-- Si je suis l'hôte -->
				<div *ngIf="monTour; then hote else invite"></div>
				<ng-template #hote>
					<p *ngIf="nbJoueurs < 4">
						Vous pouvez attendre d'autres joueurs ou lancer la partie ({{ nbJoueurs }}/4)
					</p>
					<button (click)="commencer()">Commencer</button>
				</ng-template>
				<ng-template #invite>
					<p>En attente du lancement de la partie par {{ joueurActif.nom }}</p>
				</ng-template>
			</ng-template>
	</div>
	<div *ngSwitchCase="'En cours'">
		<div *ngIf="monTour; then mon_tour else pas_mon_tour"></div>
		<ng-template #mon_tour>
			<!-- Si j'ai déjà joué -->
			<div *ngIf="!joueurActif?.aJoue; then jouer else passer"></div>
			<ng-template #jouer>
				<p>Place un ouvrier sur le plateau ou construisez un bâtiment.</p>
			</ng-template>
			<ng-template #passer>
				<p>
					Vous avez utilisé tous les bâtiments que vous souhaitiez utiliser ?
				</p>
				<button (click)="finTour()">Fin du tour</button>
			</ng-template>
		</ng-template>

		<ng-template #pas_mon_tour>
			<p>C'est au tour de {{ joueurActif?.nom }}</p>
		</ng-template>
	</div>

	<p *ngSwitchDefault>
		Erreur : partie à l'état {{ etatPartie }}
	</p>
</ng-container>