.batiments
	margin-top: 30px

.chantier
	width: 200px
	height: 200px
	border: 2px dashed orange
	float: left

.liste-batiments
	width: 700px

.case
	display: inline-block
	width: 100px
	height: 100px
	background-color: grey
	border: 1px solid black

	&.ble
		background-color: gold