<ng-container *ngIf="joueurs">
	<div *ngFor="let joueur of joueurs | keyvalue">
		<h2>{{ joueur.value.nom }} : {{ joueur.value.ressources.score }} point(s)</h2>
		<p>
			piece : {{ joueur.value.ressources.piece }}
			ouvriers : {{ joueur.value.ouvriers }}
			batiments : {{ joueur.value.batiments }}
			ressources =
			pierre: {{ joueur.value.ressources.pierre }}
			bois: {{ joueur.value.ressources.bois }}
			poisson: {{ joueur.value.ressources.poisson }}
			ble: {{ joueur.value.ressources.ble }}
		</p>
	</div>
</ng-container>
