/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css"
@import "~angular-notifier/styles.css"
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap')

// ------------ //
/* Fonts Family */

.pacifico
	font-family: 'Pacifico', cursive

// ------------ //
/*  Animations  */
// ------------ //

// Waiting Dots
@keyframes waiting
	0%
		transform: translateY(0px)
	20%
		transform: translateY(-5px)
	40%
		transform: translateY(0px)


.waitingDots
	display: inline-block
	span
		display: inline-block
		&:nth-child(1)
			animation: waiting 1.5s ease-out infinite
		&:nth-child(2)
			animation: waiting 1.5s ease-out 0.15s infinite
		&:nth-child(3)
			animation: waiting 1.5s ease-out 0.3s infinite